.login{
    width 100%;
    height 100%;
    background-image url('../../assets/img/jc.jpg');
    background-size 100% 100%;
    vertical-align middle
    position relative;

    span{
        color yellow;
    }
    .namepassword{
        width 100%;
        height 350px; 
        margin-bottom 20px;
    }
    .registerDom{
        width: 410px;
        height: 410px;
        padding: 20px;
        border-radius 10px;
        background #ffffff;
        position absolute;
        top 50%;
        right 15%;
        margin-top -225px;

        /deep/ .el-button{
            width 50%;
            border-radius 20px;
        }
    }
}